<div class="card">
    <h5 class="card-header bg-primary"> Student</h5>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Type to search student">
            </div>
            <div class="col-lg-6">

                <button class="btn btn-info float-right" (click)="onAddNewStudent()">Add New Student</button>
            </div>
        </div>
        <app-studentlist (edit)="onEdit($event)"></app-studentlist>

        <hr/>
        <app-studentdetail *ngIf="isEdit" [student]="student" (hide)="onHide()" (save)="onSave($event)"></app-studentdetail>
    </div>
</div>